USE [master]
GO
/****** Object:  Database [auction]    Script Date: 4/8/2021 5:17:27 PM ******/
CREATE DATABASE [auction]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'auction', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\auction.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'auction_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\auction_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [auction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [auction]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/8/2021 5:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[LastBid] [int] NOT NULL,
	[LastBidder] [nvarchar](50) NOT NULL,
	[Time] [int] NOT NULL,
	[Winner] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/8/2021 5:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPass] [nvarchar](50) NOT NULL,
	[IsAdmin] [int] NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
